/* GLOBAL RULES */

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.global-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}


/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.nav__list a {
    margin-right: 15px;
    color: #000000;
}
.nav__list :nth-child(2) {
    margin-right: 10px;
}
.icon-wrapper {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.icon-wrapper:hover {
    background-color: #eeeff0;
}
.nav__list .menu-icon {
    background-image: url("https://static.thenounproject.com/png/654601-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    opacity: 0.7;
}
.nav__list .user-icon {
    background-image: url("https://lh3.googleusercontent.com/ogw/ADGmqu-zKIkHHCOr71ceD90-7FPnrOfluuDrMOEQiQ5a=s32-c-mo");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}


/* MAIN */

main {
    text-align: center;
    width: 100%;
}
.main__logo {
    margin: 30px auto 20px;
}
.main__logo img {
    width: 70%;
    max-width: 320px;
}
.main__search {
    padding: 20px;
}
.main__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__input-container {
    width: 93%;
    min-width: 270px;
    max-width: 584px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}
.main__input-container input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}
.main__input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
.main__input-container .search-icon {
    background-image: url("https://icon-library.com/images/google-search-magnifying-glass-icon/google-search-magnifying-glass-icon-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    padding-right: 13px;
}
.main__input-container .micro-icon {
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.main__buttons {
    padding-top: 18px;
}
.main__buttons div {
    display: inline-block;
}
.main__buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    cursor: pointer;
}
.main__buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}
.language p {
    margin: 0;
}


/* FOOTER */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    overflow: hidden;
}
.footer__top {
    padding: 15px 30px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    color: #5f6368;
}
.footer__bottom {
    background-color: #f2f2f2;
    font-size: 14px;
    padding: 0 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer__bottom ul {
    list-style: none;
    display: flex;
}
.footer__bottom a {
    padding: 15px;
    color: #5f6368;
}